<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wisdsoft.mapper.StudentMapper" >
  <resultMap id="BaseResultMap" type="cn.wisdsoft.pojo.StudentEntity" >
    <id column="student_id" property="studentId" jdbcType="VARCHAR" />
    <result column="student_name" property="studentName" jdbcType="VARCHAR" />
    <result column="student_password" property="studentPassword" jdbcType="VARCHAR" />
    <result column="college_name" property="collegeName" jdbcType="VARCHAR" />
    <result column="grade" property="grade" jdbcType="SMALLINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    student_id, student_name, student_password, college_name, grade, remark
  </sql>


  <!--<update id="updateByPrimaryKey" parameterType="cn.wisdsoft.courseSelection.entity.Student" >-->
    <!--update student-->
    <!--set student_name = #{studentName,jdbcType=VARCHAR},-->
      <!--student_password = #{studentPassword,jdbcType=VARCHAR},-->
      <!--college_name = #{collegeName,jdbcType=VARCHAR},-->
      <!--grade = #{grade,jdbcType=SMALLINT},-->
      <!--remark = #{remark,jdbcType=VARCHAR}-->
    <!--where student_id = #{studentId,jdbcType=VARCHAR}-->
  <!--</update>-->
</mapper>