<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>添加课程库</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/xadmin.css">
    <link rel="stylesheet" href="layui/css/layui.css">
    <script src="js/Jquery.js"></script>
    <script type="text/javascript" src="layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-body">
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="courseLibraryName" class="layui-form-label">
                <span class="x-red">*</span>课程名称
            </label>
            <div class="layui-input-inline">
                <input type="text" id="courseLibraryName" name="courseLibraryName" required="" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="classHour" class="layui-form-label">
                <span class="x-red">*</span>学时
            </label>
            <div class="layui-input-inline">
                <input type="text" id="classHour" name="classHour" required="" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="credit" class="layui-form-label">
                <span class="x-red">*</span>学分
            </label>
            <div class="layui-input-inline">
                <input type="text" id="credit" name="credit" required=""
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <!--<div class="layui-form-item">-->
        <!--<label for="collegeName" class="layui-form-label">-->
        <!--<span class="x-red">*</span>开设范围-->
        <!--</label>-->
        <!--<div class="layui-input-inline">-->
        <!--<select id="collegeName" name="collegeName" class="valid">-->
        <!--<option value="shentong">软件学院</option>-->
        <!--<option value="shunfeng">经管学院</option>-->
        <!--<option value="shentong">土木学院</option>-->
        <!--<option value="shunfeng">校级管理</option>-->
        <!--</select>-->
        <!--</div>-->
        <!--</div>-->
        <div class="layui-form-item">
            <label for="courseGroupName" class="layui-form-label">
                <span class="x-red">*</span>所属课组
            </label>
            <div class="layui-input-inline">
                <select id="courseGroupName" name="courseGroupName" class="valid">
                    <option value="" selected>请选择分组</option>
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">如果没有您所用的分组，请默认，请选择分组</div>
        </div>
        <div class="layui-form-item">
            <label for="peacetimePerformanceProportion" class="layui-form-label">
                <span class="x-red">*</span>平时成绩
            </label>
            <div class="layui-input-inline">
                <input type="text" id="peacetimePerformanceProportion" name="peacetimePerformanceProportion" required="" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">请填写30%这种格式(所有规则总和为100%)</div>
        </div>
        <div class="layui-form-item">
            <label for="midTermPerformanceProportion" class="layui-form-label">
                期中成绩
            </label>
            <div class="layui-input-inline">
                <input type="text" id="midTermPerformanceProportion" name="midTermPerformanceProportion" required=""

                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">请填写20%这种格式</div>
        </div>
        <div class="layui-form-item">
            <label for="finalPerformanceProportion" class="layui-form-label">
                <span class="x-red">*</span>期末成绩
            </label>
            <div class="layui-input-inline">
                <input type="text" id="finalPerformanceProportion" name="finalPerformanceProportion" required="" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">请填写40%这种格式</div>
        </div>
        <div class="layui-form-item">
            <label for="skillAssessmentProportion" class="layui-form-label">
                技能考核
            </label>
            <div class="layui-input-inline">
                <input type="text" id="skillAssessmentProportion" name="skillAssessmentProportion" required=""
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">请填写10%这种格式</div>
        </div>
        <div class="layui-form-item">
            <label for="add" class="layui-form-label">
            </label>
            <button class="layui-btn" id="add" lay-filter="add" lay-submit="">
                提交
            </button>
        </div>
        <div class="abc"></div>
    </form>
</div>
<script>
    layui.use(['form', 'layer'], function () {
        $ = layui.jquery;
        var form = layui.form
            , layer = layui.layer;

        $(function () {
            $.ajax({
                url: 'http://localhost:9009/selectAllCourseGroup',
                type: "get",
                data: {},
                success: function (res) {
                    if (res.status == 200) {
                        for (let results of res.data) {
                            $("#courseGroupName").append(new Option(results.courseGroupName, results.courseGroupName));
                        }
                        form.render();
                    } else if (res.status == 420) {
                        layer.msg(res.msg);
                    }
                }, error: function (data) {
                    layer.msg("课组加载失败");
                }
            })
        });


        //监听提交
        form.on('submit(add)', function (data) {
            console.log(data.field);
            let list=data.field
            //发异步，把数据提交后台
            $.ajax({
                url: 'http://localhost:9009/insertCourseLibrary',
                type: "post",
                data: {
                    courseLibraryName:list.courseLibraryName,
                    classHour:list.classHour,
                    credit:list.credit,
                    courseGroupName:list.courseGroupName,
                    peacetimePerformanceProportion:list.peacetimePerformanceProportion,
                    midTermPerformanceProportion:list.midTermPerformanceProportion,
                    skillAssessmentProportion:list.skillAssessmentProportion,
                    finalPerformanceProportion:list.finalPerformanceProportion
                },
                success: function (res) {
                    if (res.status == 200) {
                        layer.alert("增加成功", {icon: 6}, function () {
                            // 获得frame索引
                            var index = parent.layer.getFrameIndex(window.name);
                            //关闭当前frame
                            parent.layer.close(index);
                        });
                    } else if (res.status == 420) {
                        layer.msg(res.msg);
                    }
                }, error: function (data) {
                    layer.msg("数据格式错误");
                }
            })
            return false;
        });
    });
</script>

</body>

</html>